<%- include ('./partials/header') %>

<div>
    <h1 class="my-3" style="text-align: center;">Admin</h1><br>
    <div class="row">
        <div class="col-4">
            <h6><a style="display: inline;" class="btn btn-light" href="/new" class="item">New Post</a><br><br><br></h6>
            <div class="form-group">
                <form action="/uploads/uploadImage" method="POST" enctype="multipart/form-data">
                    <input class="form-control-file" type="file" accept="image/*" name="image">
                    <h6><input class="btn btn-light" type="submit" value="Upload an Image"></h6>
                </form>
            </div><br>
            <h6><a class="btn btn-light" href="../../uploads/images">Gallery</a></h6>
        </div>
    <div class="col-8">
    <h5>Articles:</h5><br>
        <% for (var i = 0; i < blogs.length; i++) { %>
            <% let titleTemp = blogs[i].title.split(' ').join('-'); %>
                <span class="text-uppercase"></h6><%= blogs[i].title %></span>
                <div>
                    <h6 style="display: inline;"><a class="btn btn-light" target="_blank" href="/<%= blogs[i]._id %>/edit">Edit</a></h6>
                    <form style="display: inline;" action="/<%= blogs[i]._id %>?_method=DELETE" method="POST">
                        <h6 style="display: inline;"><button class="btn btn-light">Delete</button></h6>
                    </form>
                    <h6 style="display: inline;"><a class="btn btn-light" target="_blank" href="/<%= titleTemp %>">Preview</a></h6>
                </div>
                <hr>
    <% } %>
    <br>
        <nav>
            <% if (pages > 0) { %>
                <ul class="pagination justify-content-start pg-dark">
                    <% if (current == 1) { %>
                        <li class="disabled page-item"><a class="page-link text-dark">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link text-dark" href="/admin/index/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled page-item"><a class="page-link text-dark">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active page-item"><a class="page-link text-dark"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link text-dark" href="/admin/index/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled page-item"><a class="page-link text-dark">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled page-item"><a class="page-link text-dark">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link text-dark" href="/admin/index/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
            </nav>
    </div>
</div>
</div>
</div>

<%- include ('./partials/footer') %>