<%- include ('./partials/header') %>

        <% for (var i = 0; i < blogs.length; i++) { %>
                <% let titleTemp = blogs[i].title.split(' ').join('-'); %>
                <a class="textLink" href="/<%= titleTemp %>">
                <div class="row py-4 articles" style="border-bottom: 2px solid rgb(240, 240, 240);">
                <div class="col-2 d-none d-xl-block">
                    <img style="width: 150px; height: 150px; border-radius: 10px;" alt="" src="<%= blogs[i].image %>">
                </div>
                <div class="col-2 d-none d-xl-block">
                    Date:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].created.toDateString() %></p>
                    Reading Time:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].reading%></p>
                </div>
                <div class="col-4 col-md-3 col-lg-2 d-block d-xl-none">
                    Date:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].created.toDateString() %></p>
                    Reading Time:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].reading %></p>
                </div>
                <div class="col-8 col-md-9 col-lg-10 d-block d-xl-none">
                    <img style="width: 150px; height: 150px; border-radius: 10px;" alt="" src="<%= blogs[i].image %>">
                </div>
                <div class="col-xs-12 col-xl-8 pt-4 pt-xl-0" style="text-align: justify;">
                    <h5 class="text-uppercase"><%= blogs[i].title %></h5>
                    <p><%- blogs[i].body.substring(0, 300) %>...</p>
                </div>
                </div>
                </a>
        <% } %>

    <nav class="mt-4">
    <% if (pages > 0) { %>
        <ul class="pagination justify-content-center pg-dark">
            <% if (current == 1) { %>
                <li class="disabled page-item"><a class="page-link text-dark">First</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link text-dark" href="/articles/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled page-item"><a class="page-link text-dark">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active page-item"><a class="page-link text-dark"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link text-dark" href="/articles/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled page-item"><a class="page-link text-dark">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link text-dark">Last</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link text-dark" href="/articles/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
    </nav>

<%- include('./partials/footer'); %>