<%- include ('./partials/header') %>

        <% for (var i = 0; i < blogs.length; i++) { %>
                <% let titleTemp = blogs[i].title.split(' ').join('-'); %>
                <a class="textLink" href="/<%= titleTemp %>">
                <div class="row py-4 articles" style="border-bottom: 2px solid rgb(240, 240, 240);">
                <div class="col-2 d-none d-xl-block">
                    <img style="width: 150px; height: 150px; border-radius: 10px;" alt="" src="<%= blogs[i].image %>">
                </div>
                <div class="col-2 d-none d-xl-block">
                    Date:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].created.toDateString() %></p>
                    Reading Time:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].reading%></p>
                </div>
                <div class="col-6 col-md-3 col-lg-2 d-block d-xl-none">
                    Date:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].created.toDateString() %></p>
                    Reading Time:
                    <p style="font-family: 'Russo One', sans-serif;"><%= blogs[i].reading %></p>
                </div>
                <div class="col-6 col-md-9 col-lg-10 d-block d-xl-none">
                    <img style="width: 150px; height: 150px; border-radius: 10px;" alt="" src="<%= blogs[i].image %>">
                </div>
                <div class="col-xs-12 col-xl-8 pt-4 pt-xl-0" style="text-align: justify;">
                    <h5 class="text-uppercase"><%= blogs[i].title %></h5>
                    <p><%- blogs[i].body.substring(0, 300) %>...</p>
                </div>
                </div>
                </a>
        <% } %>

<%- include('./partials/footer'); %>