<%- include ('./partials/header') %>

<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-uppercase" style="text-align: center;"><%= blog.title %></h1>
        <img class="my-5" src="<%= blog.image %>">
        <%- blog.body %>
    </div>
</div>
<script>
    let images = document.getElementsByTagName("img");
    for (let img of images) {
        img.classList.add('d-block');
        img.classList.add('mx-auto');
    }
</script>
<%- include('./partials/footer'); %>